<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controllers.LoginServlet</servlet-class>
        <init-param>
            <param-name>style</param-name>
            <param-value>Server Config</param-value>
                
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>    
    
    <context-param>
        <param-name>driver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
   
    <error-page>
        <error-code>500</error-code>
        <location>/NPE.jsp</location>
    </error-page>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
